* {
  box-sizing: border-box;
}

body {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #3b0da5 74%);
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.404);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}
h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 1rem 0;
  font-size: 1.1rem;
  cursor: pointer;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #040005;
  color: white;
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(149, 123, 149, 0.219);
}
